* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: center;
}

body {
	width: 100%;
	min-height: 100vh;
	background: rgb(41, 39, 39);
	color: whitesmoke;
}

input {
	outline: none;
	padding: 5px 10px;
	margin: 10px;
	background: transparent;
	border: none;
	border-bottom: 2px solid red;
	color: whitesmoke;
}

label {
	font-size: 1.2rem;
}

input::placeholder {
	color: whitesmoke;
}

input:focus {
	border-top: 2px solid limegreen;
	border-bottom: none;
}